.alinhar-conteudo {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
}

.alinhar-conteudo .titulo-diferencial {
  padding: 60px 60px 20px 60px;
  text-align: center;
}

.bg-diferencial {
  background: #111;
}

.titulo-diferencial {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 2.5rem;
  font-style: normal;
  line-height: 1.8;
  color: #9c9c9c;
}

.titulo-diferencial span {
  font-family: "Poller One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  line-height: 1.125;
  letter-spacing: 0.4;
  text-transform: uppercase;
  color: #ededed;
}


.flex-diferencial p {
  font-size: 1.5rem;
  line-height: 1.33;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5;
  text-transform: capitalize;
  color: #fff;
}

.alinhar-conteudo h2 {
  margin-bottom: 60px;
}

.flex-diferencial {
  justify-content: center;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.flex-diferencial li {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.flex-diferencial li img {
  align-self: center;
}

/* responsivo */

@media (max-width: 500px) {
  .titulo-diferencial span {
    font-size: 1.5rem;
  }

  .titulo-diferencial {
    line-height: 1.2;
  }

  .flex-diferencial {
    gap: 60px;
  }

  .flex-diferencial p {
    font-size: 1.2rem;
  }

  .flex-diferencial img {
    height: 80px;
    width: 80px;
  }

}


@media (max-width: 300px) {
  .titulo-diferencial span {
    font-size: 1.3rem;
  }
  
  .titulo-diferencial {
    font-size: 1.2rem;
  }
}