
.bg-footer {
  background: #000;
}

.marca-footer {
  margin-bottom: 32px;
}

.bg-footer h3 {
  color:  #fff;
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 40px;
}

.copy {
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

.informacoes-footer, .formulario {
  justify-self: center;
}

.funcionamento {
  margin-bottom: 32px;
}

.endereco-rua {
  margin-bottom: 32px;
}

.endereco-email {
  margin-bottom: 32px;
}



.endereco-wha {
  margin-bottom: 32px;
}

.redes-sociais {
  display: flex;
  gap: 30px;
}

.flex-redes {
  display: flex;
  gap: 8px;
  align-items: center;
}

.endereco h3 {
  margin-bottom: 4px;
}

.endereco-rua h3 {
  margin-bottom: 4px;
}

/* formulário */
.formulario input {
  width: 250px;
  padding: 10px;
  background: #000;
  color: #fff;
  border-color: var(--cor-c3);
  margin-top: 10px;
  border-radius: 4px;
}

.texto-footer {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 20px;
}

.formulario textarea {
  width: 250px;
  padding: 0px 10px;
  background: #000;
  border-color: var(--cor-c3);
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  border-radius: 4px;
}

.botao-form {
  width: 250px;
  border: 0;
  text-transform: uppercase !important;
  letter-spacing: 0.02rem;
}

.div-botao {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* responsivo */
@media (max-width : 1000px) {
  .container-footer {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (max-width : 500px) {
  .container-footer h3 {
    font-size: 1.2rem;
  }

  .container-footer p {
    font-size: 1rem;
  }

  .texto-footer {
    font-size: 0.8rem;
  }

}


@media (max-width: 320px) {
  .container-footer h3 {
    font-size: 1rem;
  }

  .formulario input {
    width: 200px;
  }

  .formulario textarea {
    width: 200px;
  }

  .formulario h3 {
    text-align: center;
  }

  .formulario button {
    width: 200px;
  }

  .container-footer p {
    font-size: 0.9rem;
  }

  .marca-footer {
    width: 200px;
  }

  .texto-footer {
    font-size: 0.7rem;
  }

  .informacoes-footer div {
    justify-self: center;
  }
}