.bg-introducao {
  background: #000;
}

.introducao-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: auto;
}

.introducao-grid div {
  align-self: center;
  justify-self: end;
}

.introducao-grid p {
  color: #fff;
}

.botao-intro {
  padding: 12px 24px;
  background-image: linear-gradient(#ffbf00, #f2a50c);
  text-decoration: none;
  color: #332200;
  display: block;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1.5;
  line-height: 1.28;
  justify-self: start;
  margin-top: 32px;
}

.botao-intro:hover {
  background-image: linear-gradient(#ffbf00, #dc5c0d);
}

/* responsivo */
@media (max-width: 1024px) {
  

  .introducao-grid p {
    font-size: 2rem;
  }


  .introducao-grid {
    padding-left: 30px;
    padding-right: 30px;
  }
  

  .introducao-grid a {
    font-size: 0.84rem;
    padding: 10px 12px;
    margin-top: 16px;
    justify-self: center;
  }
}

@media (max-width: 300px) {
  .introducao-grid p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .introducao-grid div {
    order: 2;
    justify-self: start;
  }

  .introducao-grid p {
    font-size: 1.4rem;
  }

  .introducao-grid a {
    justify-self: center;
  }
}

@media (max-width: 425px)  {
  .introducao-grid p {
    font-size: 1.2rem;
  }

  .introducao-grid div {
    justify-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .introducao-grid img {
    display: none;
  }


  .introducao-grid {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 250px)  {
  .introducao-grid p {
    font-size: 1rem;
  }

  .introducao-grid a {
    padding: 10px 12px;
    font-size: 0.7rem;
    text-align: center;

  }
}