.modalidades-bg {
  padding: 60px 20px;
  background: linear-gradient(135deg, #3a3a3a, #2c2c2c);
  color: #ffffff;
}

.modalidade-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.modalidade-container h2 {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
  position: relative; /* Necessário para posicionar o elemento decorativo */
}

.modalidade-container h2::after {
  content: "";
  position: absolute;
  bottom: -15px; /* Ajusta a posição abaixo do título */
  left: 50%;
  transform: translateX(-50%);
  width: 100px; /* Largura da decoração */
  height: 6px; /* Altura da decoração */
  background: linear-gradient(90deg, #ffbf00, #f2a50c); /* Gradiente dourado */
  border-radius: 4px; /* Bordas arredondadas */
}

.texto-modalidade {
  font-size: 18px;
  color: #d1d1d1;
  margin-bottom: 50px;
}

.modalidade-itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.item-modalidade {
  background-color: #444;
  border-radius: 20px;
  padding: 30px;
  width: calc(33.333% - 40px);
  max-width: 350px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.item-modalidade:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.item-modalidade img {
  width: auto;
  height: auto;
  max-width: 80px;
}

.item-modalidade h3 {
  font-size: 22px;
  color: #ffffff;
}

.item-modalidade p {
  font-size: 16px;
}

/* Responsividade */

/* Para tablets e telas médias */
@media (max-width: 1024px) {
  .modalidade-itens {
    gap: 30px;
  }

  .item-modalidade {
    width: calc(50% -30px);
  }
}

/* Para celulares e telas pequenas */
@media (max-width: 768px) {
  .item-modalidade {
    width: calc(100% -20px);
  }

  .modalidade-container h2 {
    font-size: 28px;
  }

  .texto-modalidade {
    font-size: 16px;
  }
}

/* Para celulares muito pequenos */
@media (max-width: 480px) {
  .modalidade-container h2 {
    font-size: 24px;
  }

  .texto-modalidade {
    font-size: 14px;
  }

  .item-modalidade h3 {
    font-size: 18px;
  }

  .item-modalidade p {
    font-size: 14px;
  }
}
